<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Info</title>
    <link rel="stylesheet" type="text/css" href="/static/inventory/css/minimal.css">
</head>
{%  load static %}
<body style="background-image: url('{%  static "inventory/images/Super_2022_Background.png" %}');">
<div class="breadcrumbs">
    <a href="/">Main Menu</a>
    </div>

<h1 style="text-align: center; color: white"> Please scan badge now </h1>

<div style="text-align: center; color: white">
    <form action="/player_detail" method="post">
        {% csrf_token %}
        <label for="barcode">Barcode: </label>
        <input id="barcode" type="text" name="barcode" autofocus="autofocus">
        <input type="submit" value="OK">
    </form>
</div>

</body>
</html>