<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="15; url = /">
    <title>Player Detail</title>
    <link rel="stylesheet" type="text/css" href="/static/inventory/css/minimal.css">
</head>
{%  load static %}
<body style="background-image: url('{%  static "inventory/images/ltc_background.png" %}');">
<div class="breadcrumbs">
    <a href="/">Main Menu</a>
    -> {{ player.first_name }}
    </div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if tournament_list %}
    <table style="width:100%; background-color: white">
        <tr>
            <th>Tournament Name</th>
            <th>Current Players</th>
            <th>Start Time</th>
            <th>Drop tournament?</th>
        </tr>
    {% for tournament in tournament_list %}
        <tr>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.players.count }}</td>
            <td>{{ tournament.start_time }}</td>
            <td>
                <form action="/player_detail/remove" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="tournament" value={{ tournament.id }}>
                    <input type="hidden" name="player" value={{ player.id }}>
                    <button type="submit">&#x2716;</button>
                </form></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <h1 style="font-size:25pt; text-align: center; color: white">You are not signed up for any tournaments.</h1>
{% endif %}
</body>
</html>
