<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament Details</title>
    <link rel="stylesheet" type="text/css" href="/static/inventory/css/minimal.css">
</head>
<body>
<div class="breadcrumbs">
    <a href="/runners">Main Menu</a>
    -> {{ tournament.name }}
    </div>
<h1 style="text-align: center">{{ tournament.name }}</h1>

<h1 style="text-align: center"> Don't forget to shuffle the player list before printing</h1>
<h2 style="text-align: center"> The payout for this tournament will be {{ tournament.m_points }} </h2>
{% if player_teams %}
    <div style="text-align: center; font-size: 20px"><a href="print" target="_blank">Print!</a></div>
    {% for team in player_teams %}
        <div style="text-align: center; font-size: 18px">Team {{ forloop.counter }} {{ team }}</div>
    {% endfor %}
{% elif players_list %}
    <div style="text-align: center; font-size: 20px"><a href="print" target="_blank">Print!</a></div>

    {% for player in players_list %}
        <div style="text-align: center; font-size: 18px">{{ player }}</div>
    {% endfor %}
    {% if waitlist %}
        <h2 style="text-align: center"> Waitlist: </h2>
        {% for player in waitlist %}
            <div style="text-align: center; font-size: 18px">{{ player }}</div>
        {% endfor %}
    {% endif %}
{% else %}
    <p>No players currently signed up for this tournament.</p>
{% endif %}
</body>
</html>
