<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tournament.name }} Player List</title>
</head>
<body>
<div style="text-align: center; font-size: 30px;">The M-Points for this tournament are: {{ tournament.m_points }}</div>
{% if player_teams %}
    {% for team in player_teams %}
        <div style="text-align: center; font-size: 18px">Team {{ forloop.counter }} {{ team }}</div>
    {% endfor %}
{% else %}
    <table style="width: 25%; text-align: center; margin-left: auto; margin-right: auto; font-size: 20px">
    <tr>
        <th>Player Name</th>
        <th>Badge Number</th>
    </tr>
    {% for player in players_list %}
        <tr>
            <td>{{ player }}</td>
            <td>{{ player.badge_number }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</body>
</html>
