<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament Players</title>
    <link rel="stylesheet" type="text/css" href="/static/inventory/css/minimal.css">
</head>
<body>
<div class="breadcrumbs">
    <a href="/items/tournaments">Tournaments</a>
    ->
    <a href="/items/tournaments/{{tournament.id}}">{{tournament.name}}</a>
    -> Player List
</div>
<h1> Don't forget to shuffle the player list before printing</h1>
<h2> The payout for this tournament will be x/y/z </h2>
{% if players_list %}
    <div><a href="shuffle">Shuffle</a></div>
    <ul>
    {% for player in players_list %}
        <div>{{ player }}</div>
    {% endfor %}
    </ul>
{% else %}
    <p>No players currently signed up for this tournament.</p>
{% endif %}
</body>
</html>
</html>