<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAGFest Large Tournament Collider Registration System</title>
    <link rel="stylesheet" type="text/css" href="/static/inventory/css/minimal.css">
</head>
{%  load static %}
<body style="background-image: url('{%  static "inventory/images/ltc_background.png" %}');">
<div class="breadcrumbs">
    Main Menu
</div>
<h1 style="text-align: center; color: white"> Welcome to the MAGFest Large Tournament Collider!</h1>
<div style="width:100%; height:200px">
    <form action="tournaments/" method="get">
        <button type="submit" style="border:1px solid black; height:100px; width:300px; margin-left:-150px; text-align:center; font-size:16px; position:relative; left:50%;">Tournaments</button>
    </form>
</div>
<div style="width:100%; height:200px">
    <form action="player_info" method="get">
        <button type="submit" style="border:1px solid black; height:100px; width:300px; margin-left:-150px; margin-top:-50px; text-align:center; font-size:16px; position:relative; left:50%;">Check My Signups</button>
    </form>
</div>
</body>
</html>
