<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament Index</title>
    <link rel="stylesheet" type="text/css" href="/static/inventory/css/minimal.css">
</head>
{%  load static %}
<body style="background-image: url('{%  static "inventory/images/ltc_background.png" %}'); background-size: 100%;">
<div class="breadcrumbs">
    <a href="/"> Main Menu </a> ->
    <a href="/tournaments">Tournaments</a> ->
    <a href="all">All</a>
</div>
<div style="background-color: white">
<h1 style="text-align: center"> All Smash tournament signups open 2 hours before the tournament start time. </h1>
</div>
{% if tournament_list %}
    <table style="width:100%; background-color: white">
        <tr>
            <th>Tournament Name</th>
            <th>Max Players/Teams</th>
            <th>Current Players/Teams</th>
            <th>Start Time</th>
            <th>Open Time</th>
        </tr>
    {% for tournament in tournament_list %}
        <tr>
            <td><a href="{{ tournament.id }}/">{{ tournament.name }}</a></td>
            <td>{{ tournament.max_players }}</td>
            {% if tournament.team_size != 1 %}
                <td>{{ tournament.tournamentteam_set.count }}</td>
            {% else %}
                <td>{{ tournament.players.count }}</td>
            {% endif %}
            <td>{{ tournament.start_time }}</td>
            <td>{{ tournament.open_time }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p style="text-align: center">No tournaments are available.</p>
{% endif %}
</body>
</html>
</html>
