<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="120; url = /">
    <title>Tournament Index</title>
    <link rel="stylesheet" type="text/css" href="/static/inventory/css/minimal.css">
</head>
{%  load static %}
<body style="background-image: url('{%  static "inventory/images/ltc_background.png" %}');">
<div class="breadcrumbs">
    <a href="/"> Main Menu </a> ->
    <a href="/tournaments">Tournaments</a> ->
    <a href="all">All</a>
</div>
<div style="background-color: white">
<h1 style="text-align: center; font-size: 50px"> All Smash Ultimate sign-ups are 2 hours before the tournament starts </h1>
<h1 style="text-align: center; font-size: 40px"> If you don't see the tournament you're looking for, it may not be open for signup yet.</h1>
</div>
{% if tournament_list %}
    <table style="width:100%; background-color: white">
        <tr>
            <th>Tournament Name</th>
            <th>Department</th>
            <th>Max Players</th>
            <th>Current Players</th>
            <th>Start Time</th>
        </tr>
    {% for tournament in tournament_list %}
        <tr>
            {% if tournament.max_players == tournament.players.count and not tournament.allow_waitlist%}
                <td>{{ tournament.name }} - FULL</td>
            {% elif  tournament.max_players <= tournament.players.count and tournament.allow_waitlist %}
                <td><a href="{{ tournament.id }}/">{{ tournament.name }} - WAITLIST</a></td>
            {% else %}
                <td><a href="{{ tournament.id }}/">{{ tournament.name }}</a></td>
            {% endif %}
            <td>{{ tournament.department }}</td>
            <td>{{ tournament.max_players }}</td>
            <td>{{ tournament.players.count }}</td>
            <td>{{ tournament.start_time }}</td>
        </tr>
    {% endfor %}
    {% if tournament_info_list %}
        {% for tournament in tournament_info_list %}
        <tr>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.department }}</td>
            <td>{{ tournament.max_players }}</td>
            <td>Sign up is done at start</td>
            <td>{{ tournament.start_time }}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
{% else %}
    <p style="text-align: center">No tournaments are available.</p>
{% endif %}
</body>
</html>
</html>
